* {
  box-sizing: border-box;
  font-family: Arial, Sans-Serif;
}

h1 {

  font-size: 65px;

}



.jumbo {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 5%;
}

body>main>section>div.jumbo-img>img {

  width: 100%;
  min-width: 390px;

}

.jumbo-img {
  width: 100%
}

.btn-blue {
  width: 186px;
  height: 28px;
  background-color: $google-red;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 25%);

}

.btn-blue-text {
  float: right;
  color: $bg-white;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
  margin-top: 2px;
}

.google-logo {
  height: 15px;

}

.section-2 {
  @include d-flex;
  background-color: $bg-lightblue;
  width: 100%;
  flex-wrap: wrap;


  .title {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    width: 85%;
  }

  .container {
    @include d-flex;
     text-align: center;
    flex-wrap: wrap;
     padding: 50px;
    .card {
      flex-direction: column;
    }

    .card img {
      height: 150px;
    }
  }
}

.container {
  .row {
    .col-lg-12 {
      img {
        height: 400px;
        margin-top: 10%;
      }

      ;
    }
  }
  .rabbit{
     border-bottom: 1px solid black;
  }
 
}
.leftRight{
  .left{
    @include flex(row, flex-start, flex-start);
  }
  .right{
    @include flex(row, flex-end, flex-start);
  }
  .info{
    width: 100%;
    margin: 40px 0;
    .graph{
      width: 50%;
      img{
        max-width: 100%;
      }
    }
    .card{
      width: 40%;
      h3{
        margin-top: 10%;
        font-size: 2rem;
      }
      p{
        margin: 20px 0;
        font-size: 1.2rem;
      }
      a{
        margin: 20px 0;
        text-decoration: none;
        color: blue;
        display: block;
      }
      img{
        width: 70%;
      }
    }


}
}






@media all and (max-width:760px) {
  .jumbo {
    flex-direction: column;
  }

}