* {
  box-sizing: border-box;
  font-family: Arial, Sans-Serif;
}

h1 {

  font-size: 65px;

}



.jumbo {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 5%;
}

body>main>section>div.jumbo-img>img {

  width: 100%;
  min-width: 390px;

}

.jumbo-img {
  width: 100%
}

.btn-blue {
  width: 186px;
  height: 28px;
  background-color: #2C4792;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 25%);

}

.btn-blue-text {
  float: right;
  color: $bg-white;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
  margin-top: 2px;
}

.google-logo {
  height: 15px;

}

.section-2 {
  @include d-flex;
  background-color: $bg-pink;
  width: 100%;
  flex-wrap: wrapnpx mix;


  .title {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    width: 85%;
  }

  .container {
    @include d-flex;
     text-align: center;
    flex-wrap: wrap;
     padding: 50px;
    .card {
      flex-direction: column;
    }

    .card img {
      height: 150px;
    }
  }
}

.container {
  .row {
    .col-lg-12 {
      img {
        height: 400px;
        margin-top: 10%;
      }

      ;
    }
  }
}


@media all and (max-width:760px) {
  .jumbo {
    flex-direction: column;
  }

}