$bg-white: white;
$text-color-1: black;
$google-red: #922c2c;
$button-active-blue: #922c2c;
$bg-pink: #FFE7D2;
$bg-lightblue: #93C7D0;
@mixin d-flex {
      display: flex;
    justify-content: center;
    align-items: center;
    
}